/* Pecan is a bar for Ubersicht */
/* Written by Daniel Neemann */
:root {
  /* Choose background colors, ordered from left to right */
  /* Set --pecan-bg-center to "none" to have date's background same as bar */
  --pecan-bg: #2d2a2e;
  --pecan-bg-left: #ff7675;
  --pecan-bg-left2: none;
  --pecan-bg-center: #0a3d62;
  --pecan-bg-right2: #BDC581;
  --pecan-bg-right: #b2bec3;;
  /* Choose foreground colors */
  --pecan-fg-left: #2d3436;
  --pecan-fg-left2: #f5f5f5;
  --pecan-fg-center: #f5f5f5;
  --pecan-fg-right2: #2d3436;
  --pecan-fg-right: #2d3436;
  /* Opacity.  Change --pecan-opacity-center to 0 in order to hide date */
  /* --pecan-opacity affects --pecan-border, so set it to 0 if you would like */
  /* for every widget to appear independent. */
  --pecan-opacity: 1;
  --pecan-opacity-inner: 1;
  --pecan-opacity-center: 1;
  /* Shadow. */
  --pecan-shadow: 0px 4px 10px 4px rgba(0,0,0,0.20);
  --pecan-shadow-inner: 0px 1px 1px 1px rgba(0,0,0,0.0);
  /* Bar's total height including --pecan-border and excluding padding */
  --pecan-height: 20px;
  /* Entire bar's outer padding (use --pecan-border for space between widgets) */
  --pecan-padding-left: 10px;
  --pecan-padding-right:10px;
  --pecan-padding-v: 2px;
  /* Border size.  Also functions as space between widgets, */
  /* so set --pecan-opacity to 0 if you want widgets to appear independent */
  --pecan-border: 0px;
  /* Rounded corner radius */
  /* Inner radius is best suited for when widgets appear independent */
  /* by setting --pecan-opacity to 0 */
  --pecan-border-radius: 0px;
  --pecan-border-radius-inner: 0px;
  /* Inner-horizontal padding.  --pecan-height determines inner-vertical padding */
  --pecan-text-padding: 3ch;
  /* Alignment */
  /* Set 0 to where you want the bar aligned */
  /* and "auto" where you don't */
  --pecan-alignment-top: 0;
  --pecan-alignment-bottom: auto;
  /* Mono font recommended (alignment depends on character width) */
  --pecan-font: Hack Nerd Font;
  --pecan-font-size: 15px;
  --pecan-font-style: none;
  /* Xanthia */
  /* If Xanthia is not installed then these values will be ignored */
  --pecan-xanthia-bg: #f5f5f5;
  --pecan-xanthia-fg: #3d3d3d;
  /* This is padding from edge of screen */
  --pecan-xanthia-horizontal: var(--pecan-padding-v);
  --pecan-xanthia-vertical: calc(var(--pecan-border) + var(--pecan-padding-v));
  /* These are maximum sizes */
  --pecan-xanthia-width: 400px;
  --pecan-xanthia-height: calc(var(--pecan-height) - calc(var(--pecan-border) * 2));
  --pecan-xanthia-border-radius: var(--pecan-border-radius);
  --pecan-xanthia-shadow: var(--pecan-shadow);
}

/* Get monitor width */
.screen {
  width: 100vw;
  height: 100vh;
}

/* Bar background */
.background {
  background-color: var(--pecan-bg);
  display: block;
  position: absolute;
  height: var(--pecan-height);
  top: var(--pecan-alignment-top);
  right: 0px;
  bottom: var(--pecan-alignment-bottom);
  left: 0px;
  margin-top: var(--pecan-padding-v);
  margin-right: var(--pecan-padding-right);
  margin-bottom: var(--pecan-padding-v);
  margin-left: var(--pecan-padding-left);
  opacity: var(--pecan-opacity);
  z-index: -1;
  box-shadow: var(--pecan-shadow);
  border-top-left-radius: calc(var(--pecan-border-radius) * 2);
  border-top-right-radius: calc(var(--pecan-border-radius) * 2);
  border-bottom-right-radius: calc(var(--pecan-border-radius) * 2);
  border-bottom-left-radius: calc(var(--pecan-border-radius) * 2);
}

/* Workspace indicator -- far left */
.left {
  font: var(--pecan-font-size) var(--pecan-font);
  font-style: var(--pecan-font-style);
  color: var(--pecan-fg-left);
  display: inline-block;
  position: absolute;
  background-color: var(--pecan-bg-left);
  opacity: var(--pecan-opacity-inner);
  top: var(--pecan-alignment-top);
  right: auto;
  bottom: var(--pecan-alignment-bottom);
  left: 0px;
  padding: 0px var(--pecan-text-padding);
  margin-top: calc(var(--pecan-padding-v) + var(--pecan-border));
  margin-bottom: calc(var(--pecan-padding-v) + var(--pecan-border));
  margin-left: calc(var(--pecan-padding-left) + var(--pecan-border));
  line-height: calc(var(--pecan-height) - calc(var(--pecan-border) * 2));
  border-top-left-radius: var(--pecan-border-radius);
  border-top-right-radius: var(--pecan-border-radius-inner);
  border-bottom-right-radius: var(--pecan-border-radius-inner);
  border-bottom-left-radius: var(--pecan-border-radius);
  box-shadow: var(--pecan-shadow-inner);
}

/* Network bandwidth -- 2nd to left */
.left2 {
  font: var(--pecan-font-size) var(--pecan-font);
  font-style: var(--pecan-font-style);
  background-color: var(--pecan-bg-left2);
  opacity: var(--pecan-opacity-inner);
  color: var(--pecan-fg-left2);
  position: absolute;
  display: inline-block;
  top: var(--pecan-alignment-top);
  right: auto;
  bottom: var(--pecan-alignment-bottom);
  left: 21px;
  padding: 0px var(--pecan-text-padding);
  margin-top: calc(var(--pecan-border) + var(--pecan-padding-v));
  margin-bottom: calc(var(--pecan-border) + var(--pecan-padding-v));
  margin-left: calc(var(--pecan-padding-left) + calc(var(--pecan-text-padding) * 2) + 1ch + calc(var(--pecan-border) * 2));
  line-height: calc(var(--pecan-height) - calc(var(--pecan-border) * 2));
  border-top-left-radius: var(--pecan-border-radius-inner);
  border-top-right-radius: var(--pecan-border-radius-inner);
  border-bottom-right-radius: var(--pecan-border-radius-inner);
  border-bottom-left-radius: var(--pecan-border-radius-inner);
  box-shadow: var(--pecan-shadow-inner);
}

/* Date -- third to left -- set --pecan-opacity-center to 0 to hide */
.center {
  font: var(--pecan-font-size) var(--pecan-font);
  font-style: var(--pecan-font-style);
  color: var(--pecan-fg-center);
  background-color: var(--pecan-bg-center);
  opacity: var(--pecan-opacity-center);
  position: absolute;
  display: inline-block;
  padding: 0px var(--pecan-text-padding);
  width: auto;
  top: var(--pecan-alignment-top);
  bottom: var(--pecan-alignment-bottom);
  left: 50%;
  transform: translate(-50%);
  margin: var(--pecan-border);
  line-height: calc(var(--pecan-height) - calc(var(--pecan-border) * 2));
  text-align: center;
  border-top-left-radius: var(--pecan-border-radius-inner);
  border-top-right-radius: var(--pecan-border-radius-inner);
  border-bottom-right-radius: var(--pecan-border-radius-inner);
  border-bottom-left-radius: var(--pecan-border-radius-inner);
  box-shadow: 0;
}

/* This is a container to align the center widget */
.holder {
  background-color: var(--pecan-bg-center);
  display: inline-block;
  position: absolute;
  height: var(--pecan-height);
  top: var(--pecan-alignment-top);
  right: 0px;
  bottom: var(--pecan-alignment-bottom);
  left: 0px;
  margin-top: var(--pecan-padding-v);
  margin-right: var(--pecan-padding-right);
  margin-bottom: var(--pecan-padding-v);
  margin-left: var(--pecan-padding-left);
}

/* Battery percentage -- 4th to left */
.right2 {
  font: var(--pecan-font-size) var(--pecan-font);
  font-style: var(--pecan-font-style);
  color: var(--pecan-fg-right2);
  display: inline-block;
  position: absolute;
  background-color: var(--pecan-bg-right2);
  opacity: var(--pecan-opacity-inner);
  padding: 0px var(--pecan-text-padding);
  top: var(--pecan-alignment-top);
  right: -74px;
  bottom: var(--pecan-alignment-bottom);
  left: auto;
  margin-top: calc(var(--pecan-padding-v) + var(--pecan-border));
  margin-right: calc(var(--pecan-padding-right) + calc(var(--pecan-text-padding) * 2) + 9ch + calc(var(--pecan-border) * 2));
  margin-bottom: calc(var(--pecan-padding-v) + var(--pecan-border));
  line-height: calc(var(--pecan-height) - calc(var(--pecan-border) * 2));
  border-top-left-radius: var(--pecan-border-radius-inner);
  border-top-right-radius: var(--pecan-border-radius-inner);
  border-bottom-right-radius: var(--pecan-border-radius-inner);
  border-bottom-left-radius: var(--pecan-border-radius-inner);
  box-shadow: var(--pecan-shadow-inner);
}

/* Clock -- 5th to left */
.right {
  font: var(--pecan-font-size) var(--pecan-font);
  font-style: var(--pecan-font-style);
  color: var(--pecan-fg-right);
  display: inline-block;
  position: absolute;
  background-color: var(--pecan-bg-right);
  opacity: var(--pecan-opacity-inner);
  padding: 0px var(--pecan-text-padding);
  margin: var(--pecan-border);
  top: var(--pecan-alignment-top);
  right: 0px;
  bottom: var(--pecan-alignment-bottom);
  left: auto;
  margin-top: calc(var(--pecan-padding-v) + var(--pecan-border));
  margin-right: calc(var(--pecan-border) + var(--pecan-padding-right));
  margin-bottom: calc(var(--pecan-padding-v) + var(--pecan-border));
  line-height: calc(var(--pecan-height) - calc(var(--pecan-border) * 2));
  border-top-left-radius: var(--pecan-border-radius-inner);
  border-top-right-radius: var(--pecan-border-radius);
  border-bottom-right-radius: var(--pecan-border-radius);
  border-bottom-left-radius: var(--pecan-border-radius-inner);
  box-shadow: var(--pecan-shadow-inner);
}
